* {
  margin: 0;
  padding: 0;
}

body {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQe1NVQUcMi259EBwRMpurWcyF1EBLxOtCzjtQVe_iopBG8y_iCiqnja4-jhVEcnSbDlDM&usqp=CAU')  center/cover;
  height: 100vh;
  overflow: hidden;
}


.circle {
  width: 25px;
  height: 25px;
  border: 1px solid white;
  position: absolute;
  border-radius: 15px;
}